@model RIBA_Task.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
